<div class="contact">
	
	<h1>Contact Info</h1>
	
	<div class="info">
		<div>
			<p><b>Email:</b></p>
			<a href="mailto:will@willand.co" target="_top">Will@WillAnd.co</a>
		</div>
		<div>
			<p><b>LinkedIn:</b></p>
			<a target="_blank" href="https://www.linkedin.com/in/will-anderson-95515586">https://www.linkedin.com/in/will-anderson-95515586</a>
		</div>
		<div>
			<p><b>Github:</b></p>
			<a target="_blank" href="https://www.github.com/willand31">https://www.github.com/willand31</a>
		</div>
		<div>
			<p><b>Twitter:</b></p>
			<a target="_blank" href="https://www.twitter.com/willand31">https://www.twitter.com/willand31</a>
		</div>
	</div>
	
</div>