@import './../../styles/utils';

.willand-resume {
	padding-top: 3em;

	.instructions {
		opacity: 0.25;
		text-align: center;
		margin: 1em;
	}

	.intro {
		width: 50%;
		height: auto;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		.img-container {
			height: 10em;
			width: 10em;
			min-width: 10em;
			border-radius: 100%;
			overflow: hidden;

			img {
				height: 15em;
				position: relative;
				left: -0.3em;
			}
		}

		.contact-info {
			h1 {
				color: $darkish;
				margin: 0;
				font-size: 3em;
				text-align: center;
			}

			p {
				margin: 0.5em 0 0.5em;
				text-align: center;
			}

			.social-links {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
		}
	}

	.resume-section {
		width: 100%;
		padding: 0;
		margin-top: 2em;
		display: flex;
		height: auto;
		justify-content: flex-start;
		align-items: center;

		@media (max-width: $mediumScreen) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&.top {
			margin-top: 0;
		}

		&.bottom {
			margin-bottom: 8em;
		}

		.resume-section-title {
			margin-right: 1em;
			min-width: 5.5em;
			width: 15%;
			text-align: right;
			transition: 200ms;

			@media (max-width: $mediumScreen) {
				border-bottom: 4px solid $darkish;
				width: 90%;
				margin: 0;
				text-align: center;
				padding-bottom: 0.2em;
			}
		}

		.resume-section-content {
			border-left: 4px solid $darkish;
			width: 80%;

			@media (max-width: $mediumScreen) {
				border: none;
				width: 100%;
			}

			.resume-section-list {
				list-style: none;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				width: 90%;
				margin-top: 0;

				@media (max-width: $mediumScreen) {
					width: 100%;
					border: 0;
					padding: 0 1em;
					justify-content: center;
				}

				.resume-section-list-item {
					margin: 1em 1em 0;
					cursor: pointer;
					transition: 300ms;
					transform: scale(0.9);

					&:hover {
						transform: scale(1);
					}

					&.hideOnSmall {
						@media (max-width: $mediumScreen) {
							display: none !important;
						}
					}

					&.skill-item {
						p {
							opacity: 0;
							transition: 500ms;
							margin: 0;
							text-align: center;
						}

						@media (max-width: $mediumScreen) {
							p {
								opacity: 1;
							}
						}

						&:hover {
							p {
								opacity: 1;
							}
						}

						.img-container {
							height: 4em;
							display: flex;
							justify-content: center;
							overflow: hidden;

							img {
								height: inherit;
							}
						}
					}

					&.award-item {
						max-width: 50%;

						@media (max-width: $mediumScreen) {
							max-width: 90%;
						}

						.award-name {
							text-align: center;
						}

						&:hover {
							.award-desc {
								display: block;
								opacity: 1;
								transform: scale(1);
								position: relative;
							}
						}

						.award-desc {
							background-color: lighten($softGrey, 30);
							padding: 1em 1em 1em 2em;
							border-bottom-left-radius: 5px;
							border-bottom-right-radius: 5px;
							list-style-type: disc;
							transition: 500ms;
							position: absolute;
							opacity: 0;
							width: inherit;
							transform: scale(0);

							@media (max-width: $mediumScreen) {
								position: relative;
								transform: scale(1);
								opacity: 1;
							}
						}
					}

					&.experience-item {
						width: 19em;

						@media (max-width: $mediumScreen) {
							width: 90%;
							display: flex;
							justify-content: center;
							align-items: center;
							flex-direction: column;
						}

						.job-img {
							width: inherit;
							max-width: 25em;
						}

						.edu-img-container {
							display: flex;
							justify-content: center;

							.edu-img {
								height: 4em;
								width: auto;
							}
						}

						h2, p {
							margin: 0;
						}

						.edu-header {
							text-align: center;
						}

						&:hover {
							.responsibilities-list {
								display: block;
								opacity: 1;
								transform: scale(1);
								position: relative;
							}
						}

						.responsibilities-list {
							background-color: lighten($softGrey, 30);
							padding: 1em 1em 1em 2em;
							border-bottom-left-radius: 5px;
							border-bottom-right-radius: 5px;
							list-style-type: disc;
							transition: 500ms;
							position: absolute;
							opacity: 0;
							width: inherit;
							transform: scale(0);

							@media (max-width: $mediumScreen) {
								width: 100%;
								position: relative;
								transform: scale(1);
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.footer {
		width: 100%;
		text-align: center;
		background-color: lighten($softGrey, 20);
		border-top: 2px solid $softGrey;
	}
}
