<div class="willand-resume center column">
	<header class="intro row">
		<div class="img-container">
			<img src="/img/headshot.jpg" alt="{{'WILL_ANDERSON' | translate}}">
		</div>
		<div class="contact-info">
			<h1>{{'WILL_ANDERSON' | translate}}</h1>
			<p><a href="mailto:will@willand.co">will@willand.co</a></p>
			<div class="social-links">
				<a href="https://github.com/willand31" target="_blank">{{'GITHUB' | translate}}</a>
				<a href="https://twitter.com/willand31" target="_blank">{{'TWITTER' | translate}}</a>
				<a href="https://www.linkedin.com/in/will-anderson-95515586
	" target="_blank">{{'LINKEDIN' | translate}}</a>
			</div>
		</div>
	</header>
	<p class="instructions">{{'INSTRUCTIONS' | translate}}</p>
	<section class="skills resume-section top">
		<h2 class="resume-section-title">{{'SKILLS' | translate}}</h2>
		<div class="resume-section-content">
			<ul class="resume-section-list">
				<li *ngFor="let skill of skills" (click)="open(skill?.link)" [ngClass]="{hideOnSmall: skill?.hideOnSmall}" class="resume-section-list-item skill-item">
					<div class="img-container">
						<img [src]="skill?.imgUrl" [alt]="skill?.name | translate">
					</div>
					<p>{{skill?.name | translate}}</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="experience resume-section">
		<h2 class="resume-section-title">{{'EXPERIENCE' | translate}}</h2>
		<div class="resume-section-content">
			<ul class="resume-section-list">
				<li *ngFor="let job of experiences" class="resume-section-list-item experience-item">
					<img class="job-img" (click)="open(job?.link)" [src]="job?.logo" [alt]="job?.company">
					<h2 class="job-header">{{job?.company | translate}}</h2>
					<p>{{job?.title | translate}}, {{job?.length | translate}}</p>
					<ul class="responsibilities-list">
						<li *ngFor="let res of job?.responsibilities">{{res | translate}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<section class="education resume-section">
		<h2 class="resume-section-title">{{'EDUCATION' | translate}}</h2>
		<div class="resume-section-content">
			<ul class="resume-section-list">
				<li *ngFor="let edu of educations" class="resume-section-list-item experience-item education-item">
					<div class="edu-img-container">
						<img class="edu-img" (click)="open(edu?.link)" [src]="edu?.logo" [alt]="edu?.school | translate">
					</div>
					<ul class="responsibilities-list">
						<p>{{edu?.length | translate}}</p>
						<li *ngFor="let res of edu?.moreInfo">{{res | translate}}</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<section class="interests resume-section">
		<h2 class="resume-section-title">{{'INTERESTS' | translate}}</h2>
		<div class="resume-section-content">
			<ul class="resume-section-list">
				<li *ngFor="let int of interests" (click)="int?.link" [ngClass]="{hideOnSmall: skill?.hideOnSmall}" class="resume-section-list-item skill-item">
					<div class="img-container">
						<img [src]="int?.imgUrl" [alt]="int?.name | translate">
					</div>
					<p>{{int?.name | translate}}</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="awards resume-section bottom">
		<h2 class="resume-section-title">{{'AWARDS' | translate}}</h2>
		<div class="resume-section-content">
			<ul class="resume-section-list">
				<li *ngFor="let award of awards" class="resume-section-list-item award-item">
					<h3 class="award-name">{{award?.name | translate}}</h3>
					<p class="award-desc">{{award?.desc | translate}}</p>
				</li>
			</ul>
		</div>
	</section>
	<footer class="footer">
		<p>{{'FOOTER' | translate}} <a href="https://github.com/WillAnd31/WillAnd" target="_blank">{{'HERE' | translate}}</a></p>
	</footer>
</div>
