$softBlack: #2d2d2d; // rgb(45,45,45)
$lightGrey: #515355;
$softGrey: #9da0a3; // rgb(157,160,163)
$softWhite: #f6f7f7; // rgb(246,247,247)

$normalShadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.75);

$mediumScreen: 825px;
$mediumSmallScreen: 740px;
$smallMediumScreen: 550px;
$smallScreen: 450px;

$headerHeight: 7em;
$headerHeightMedium: 5em;
$headerHeightSmall: 3.5em;
