@import './utils';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-image: url('./../images/fabric.png');
	background-color: lighten($softGrey, 30);
	color: $darkish;
}

div, header, nav, ul, li {
	box-sizing: border-box;
}

.full {
	height: 100%;
	width: 100%;
}

a {
	color: $lightish;
	font-weight: bold;
	transition: 500ms;

	&:hover {
		color: $light;
		font-weight: lighter;
	}
}

input[type='text'], input[type='email'], input[type='password'] {
	font-size: 1.1em;
	outline: none;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid $softGrey;
	transition: 200ms;

	&:focus {
		border-color: $softBlack;
	}
}

.button {
	font-weight: bold;
	font-size: 1.1em;
	background-color: $softWhite;
	outline: none;
	border: 2px solid $softBlack;
	min-width: 8em;
	min-height: 2em;
	border-radius: 3px;
	cursor: pointer;
	transition: 300ms;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.center {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.left {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.right {
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
	align-items: flex-end;
}

@keyframes pulse-diamond {
	0% {
		trasform: scale(0.8);
		top: -3em;
		left: 0;
	}

	13% {
		top: -1.5em;
		left: -1.5em;
	}

	25% {
		top: 0;
		left: -3em;
	}

	37% {
		top: 1.5em;
		left: -1.5em;
	}

	50% {
		top: 3em;
		transform: scale(1.5);
		letter-spacing: 0.2em;
	}

	63% {
		top: 1.5em;
		left: 1.5em;
	}

	75% {
		top: 0;
		left: 3em;
	}

	87% {
		top: -1.5em;
		left: 1.5em;
	}

	100% {
		top: -3em;
		left: 0;
		trasform: scale(0.8);
	}
}

.loading {
	color: $lightish;

	h2 {
		font-size: 3em;
		animation-name: pulse-diamond;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-duration: 4s;
	}
}
