@import '../../app/styles/colors';
@import '../../app/styles/dimensions';

.resume {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 8em;
	
	h1, p {
		margin-bottom: 0;
	}
	
	.item {
		margin-top: 2em;
	}
	
	.skillsContainer {
		text-align: center;
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	
	.skills {
		display: flex;
		justify-content: space-around;
		width: 100%;
		max-width: 640px;
		flex-wrap: wrap;
		
		.name {
			cursor: pointer;
			margin-bottom: 0;
			max-width: 11em;
			min-width: 5em;
			text-align: center;
			
			&:hover {
				color: $willGreen;
			}
		}
		
		.desc {
			min-height: 3em;
			background-color: #ddd;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1em;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
            
            @media (max-width: $smallScreen) {
                flex-direction: column;
            }
		}
		
		.img {
			height: auto;
			width: 5em;
			margin-right: 1em;
		}
	}
	
	.experienceContainer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		h3 {
			text-align: center;
		}
		
		p {
			margin: 0;
		}
		
		img {
			width: 10em;
		}
		
		.experience {
			margin-bottom: 1.5em;
			cursor: pointer;
			
			&:hover {
				color: $willGreen;
			}
		}
		
		.main {
			display: flex;
			justify-content: flex-start;
			align-items: center;
            
            @media (max-width: $smallScreen) {
                justify-content: center;
                text-align: center;
                flex-direction: column;
            }
		}
		
		.title {
			margin-left: 2em;
            
            @media (max-width: $smallScreen) {
                margin-left: 0;
            }
		}
		
		.more {
			background-color: $lightGrey;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			padding: 1em;
			max-width: 40em;
			
			p {
				margin-top: 0;
				margin-bottom: 0.5em;
			}
			
			ul {
				margin: 0;
				
				li {
					margin-bottom: 0.3em;
				}
			}
		}
	}
	
	.educationContainer {
		.schoolImg {
			width: 5em;
		}
	}
	
}