@import '../../app/styles/colors';

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	h1 {
		margin-bottom: 3em;
	}
	
	.info {
		p, a {
			display: inline-block;
		}
		
		p {
			width: 7em;
		}
		
		a {
			color: $willGreen;
		}
	}
}