<div class="resume">
	
	<h1>Will Anderson</h1>
	
	<p>This is an interactive resume, click items to read more.</p>
	
	<div class="skillsContainer item">
		
		<h3>Skills</h3>
		
		<div class="skills">
			<div ng-repeat="skill in resumeScope.skills">
				<p class="name" ng-click="resumeScope.showSkill($index)">{{skill.name}}</p>
				<div class="desc easeIn" ng-if="skill.show">
					<a href="{{skill.imgLink}}" target="_blank"><img class="img" ng-if="skill.img" src="{{skill.img}}"></a>
					<p>{{skill.desc}}</p>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="experienceContainer item">
		
		<h3>Experience</h3>
		
		<div class="center">
			<div class="experience" ng-repeat="job in resumeScope.experiences" ng-click="resumeScope.showExperiences($index)">
				<div class="main">
					<img src="{{job.img}}">
					<div class="title">
						<p>{{job.title}} at {{job.company}}</p>
						<p class="lightText">Click to see more</p>
					</div>
				</div>
				<div class="more easeIn" ng-if="job.show">
					<p>From {{job.startDate}} to {{job.endDate}}</p>
					<p>Location: {{job.location}}</p>
					<p>Responsibilities:</p>
					<ul>
						<li ng-repeat="responsibility in job.responsibilities">{{responsibility}}</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="educationContainer experienceContainer item">
		
		<h3>Education</h3>
		
		<div class="center">
			<div class="experience" ng-repeat="school in resumeScope.education" ng-click="resumeScope.showEducation($index)">
				<div class="main">
					<img class="schoolImg" src="{{school.img}}">
					<div class="title">
						<p>{{school.school}}</p>
						<p class="lightText">Click to see more</p>
					</div>
				</div>
				<div class="more easeIn" ng-if="school.show">
					<p>From {{school.startDate}} to {{school.endDate}}</p>
					<p>Location: {{school.location}}</p>
					<p>More information:</p>
					<ul>
						<li ng-repeat="info in school.info">{{info}}</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="skillsContainer item">
		
		<h3>Awards</h3>
		
		<div class="skills">
			<div ng-repeat="award in resumeScope.awards">
				<p class="name" ng-click="resumeScope.showAwards($index)">{{award.name}}</p>
				<div class="desc easeIn" ng-if="award.show">
					<p>{{award.desc}}</p>
				</div>
			</div>
		</div>
		
	</div>
	
</div>